<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gtja.user.mapper.MemberMapper">

    <select id="countMember" resultType="java.lang.Long">
        count(*) from user;
    </select>

    <sql id="UserBaseColumn">
        (user_id,user_name,user_pwd,user_phone,user_level,email)
    </sql>

    <select id="selectByName" parameterType="java.lang.String" resultMap="ResultMap">
        select * from user where user_name=#{username,jdbcType=CHAR}
    </select>

    <select id="selectById" parameterType="java.lang.Long" resultMap="ResultMap">
        select * from user where user_id=#{id,jdbcType=BIGINT};
    </select>

    <insert id="insert" parameterType="com.gtja.user.pojo.Member">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">user_name,</if>
            <if test="pwd != null">user_pwd,</if>
            <if test="phone !=null">user_phone,</if>
            <if test="level !=null">user_level,</if>
            <if test="email !=null">email</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">#{username,jdbcType=CHAR},</if>
            <if test="pwd != null">#{pwd,jdbcType=CHAR},</if>
            <if test="phone !=null">#{phone,jdbcType=CHAR},</if>
            <if test="level !=null">#{level,jdbcType=INTEGER},</if>
            <if test="email !=null">#{email,jdbcType=CHAR}</if>
        </trim>
    </insert>


    <resultMap type="com.gtja.user.pojo.Member" id="ResultMap" >
        <id column="user_id" jdbcType="BIGINT"  property="id"/>
        <result column="user_name" jdbcType="CHAR" property="username"/>
        <result column="user_pwd" jdbcType="CHAR" property="pwd"/>
        <result column="user_phone" jdbcType="CHAR" property="phone"/>
        <result column="email" jdbcType="CHAR" property="email"/>
        <result column="user_level" jdbcType="INTEGER" property="level"/>
    </resultMap>

</mapper>